@model UserSignup.Models.User


<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Date Joined</th>
    </tr>
    <tr>
        <td>@Model.UserName</td>
        <td>@Model.Email</td>
        <td>@Model.JoinTime</td>
    </tr>
</table>